# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Swapfiles
*.swp

# Fortran module files
*.mod
*.smod


# anything in build folder

# for cmake-based builds
build/*
# for specific builds
out/*

# for git push 
gitpush.sh 
